        /*Sub Blog*/
        #sub-blog{
            width: 300px;
            text-align: center;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgb(85, 85, 85);
            position: fixed;
            top: -100%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1000;
            transition: 0.5s;
            visibility: hidden;
        }
        .sub-blogbtn{cursor: pointer;}
        #sub-blog-cross{cursor: pointer;}
        #sub-blog-cross i{padding-top: 20px;}
        #sub-blog form input:focus{
            background-color: rgba(0, 0, 0, 0.457);
        }
        .sub-blog-2{
            display: flex;
            justify-content: space-evenly;
        }
        [class*="sub-blog-2-"] {
            display: flex;
            justify-content:space-between;
            flex-direction: column;
        }
        [class*="sub-blog-2-social-"] {
            display: flex;
            justify-content:space-between;
            flex-direction: row;
        }
        [class*="sub-blog-2-social-"] a{
            margin-left: 3px;
        }
        .sub-blog-2 .fab{
            margin-left: 5px;
            font-size: 16px;
            color: black;
        }
        .hr-divider{
            border-top-width: 1px;
            height: 0;
            border-color: #8a8a8a;
            margin-bottom: 1rem;
        }

        /*Modal change*/
        #sub-blog.active,#sub-blog.active{
            visibility: visible;
            top: 50%;
        }
        form input{
            border-width: 1px;
            border-color: #8a8a8a;
            border-radius: 5px;
            padding: 3px;
        }